<a href="https://colab.research.google.com/github/Alexandremsn/demand/blob/main/cff__oil%20P1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from sklearn.impute import KNNImputer
oil = pd.read_csv('oil.csv')
test = pd.read_csv('test_reduce.csv')
imputer = KNNImputer(n_neighbors=5)
oil.dcoilwtico = imputer.fit_transform(oil[['dcoilwtico']])
from sklearn.neighbors import KNeighborsRegressor
print(oil.shape)
oil.date = pd.to_datetime(oil.date, format='%Y-%m-%d')
print(oil.info())

(1218, 2)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1218 entries, 0 to 1217
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        1218 non-null   datetime64[ns]
 1   dcoilwtico  1218 non-null   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 19.2 KB
None

vamos limpar os dados do dataset do preço do petróleo, vamos imputar os valores faltantes com o KNNImputer, vamos converter a data de string para datetime

In [ ]:
testsize = int(oil.shape[0]*0.2)

In [ ]:
df_train = oil[:-testsize]
df_test = oil[-testsize:]
X_train = df_train[['date']]
X_test = df_test[['date']]
y_train = df_train['dcoilwtico']
y_test = df_test['dcoilwtico']

vamos separar nossos dados em teste e treino, vamos realizar vários teste variado o principal hiperparâmetro até obter um erro menor possível.
no dataset de teste não temos o valor pois se trata de uma data futura, assim vamos usar um modelo preditivo simples para prever este valor.

In [ ]:
modelbasic = KNeighborsRegressor(n_neighbors=29)
modelbasic.fit(X_train, y_train)
y_pred = modelbasic.predict(X_test)
from sklearn.metrics import mean_squared_error
import numpy as np
score = np.sqrt(mean_squared_error(y_test,y_pred))
print(score)

5.713094364617635

obtivemos um bom erro, após testar várias conposições de hiperparâmetros chegamos na acima demonstrada,

In [ ]:
test.date = pd.to_datetime(test.date, format='%Y-%m-%d')
X_train2 = oil[['date']]
y_train2 = oil.dcoilwtico
X_test2 = test[['date']]
modelbasic.fit(X_train2,y_train2)
test['oil_price'] = modelbasic.predict(X_test2)

agora vamos prever e gerar a coluna com valor do óleo no dataset de teste. e depois exportar para uso na próxima etapa do projeto.

In [ ]:
test.to_csv('test_oil.csv', index=False)

In [ ]:
test.head(50)

           id       date  store_nbr  item_nbr  onpromotion  oil_price
0   125497250 2017-08-16          1    258396        False  48.151379
1   125497256 2017-08-16          1    261052        False  48.151379
2   125497276 2017-08-16          1    265559        False  48.151379
3   125497294 2017-08-16          1    273528        False  48.151379
4   125497338 2017-08-16          1    314384         True  48.151379
5   125497426 2017-08-16          1    364606        False  48.151379
6   125497498 2017-08-16          1    414353        False  48.151379
7   125497509 2017-08-16          1    414750        False  48.151379
8   125497601 2017-08-16          1    502331        False  48.151379
9   125497683 2017-08-16          1    559870        False  48.151379
10  125497694 2017-08-16          1    564533        False  48.151379
11  125497726 2017-08-16          1    581078        False  48.151379
12  125497951 2017-08-16          1    759893        False  48.151379
13  125498082 2017-08-16          1    839363        False  48.151379
14  125498096 2017-08-16          1    841842        False  48.151379
15  125498112 2017-08-16          1    847863         True  48.151379
16  125498125 2017-08-16          1    850333        False  48.151379
17  125498416 2017-08-16          1   1036689        False  48.151379
18  125498444 2017-08-16          1   1047679        False  48.151379
19  125498543 2017-08-16          1   1084881        False  48.151379
20  125501151 2017-08-16          2    258396        False  48.151379
21  125501157 2017-08-16          2    261052        False  48.151379
22  125501177 2017-08-16          2    265559        False  48.151379
23  125501195 2017-08-16          2    273528        False  48.151379
24  125501239 2017-08-16          2    314384         True  48.151379
25  125501327 2017-08-16          2    364606        False  48.151379
26  125501399 2017-08-16          2    414353        False  48.151379
27  125501410 2017-08-16          2    414750        False  48.151379
28  125501502 2017-08-16          2    502331        False  48.151379
29  125501584 2017-08-16          2    559870        False  48.151379
30  125501595 2017-08-16          2    564533        False  48.151379
31  125501627 2017-08-16          2    581078        False  48.151379
32  125501852 2017-08-16          2    759893        False  48.151379
33  125501983 2017-08-16          2    839363        False  48.151379
34  125501997 2017-08-16          2    841842        False  48.151379
35  125502013 2017-08-16          2    847863         True  48.151379
36  125502026 2017-08-16          2    850333        False  48.151379
37  125502317 2017-08-16          2   1036689        False  48.151379
38  125502345 2017-08-16          2   1047679        False  48.151379
39  125502444 2017-08-16          2   1084881        False  48.151379
40  125505052 2017-08-16          3    258396        False  48.151379
41  125505058 2017-08-16          3    261052        False  48.151379
42  125505078 2017-08-16          3    265559        False  48.151379
43  125505096 2017-08-16          3    273528        False  48.151379
44  125505140 2017-08-16          3    314384         True  48.151379
45  125505228 2017-08-16          3    364606        False  48.151379
46  125505300 2017-08-16          3    414353        False  48.151379
47  125505311 2017-08-16          3    414750        False  48.151379
48  125505403 2017-08-16          3    502331        False  48.151379
49  125505485 2017-08-16          3    559870        False  48.151379

Timestamp('2017-08-16 00:00:00')

In [ ]:

oil.to_csv('oil_fixed.csv',index=False)

0        Wednesday
1        Wednesday
2        Wednesday
3        Wednesday
4        Wednesday
           ...
17275     Thursday
17276     Thursday
17277     Thursday
17278     Thursday
17279     Thursday
Name: date, Length: 17280, dtype: object